.img-gen{
    margin: 2rem;
    background-color: #fff;
}

img{
    height: 70vh;
    width: 50%;
    border-radius: 1rem;
}
.buttons{
    width: 22%;
    margin: 0 auto;
}
.social-media-btn{
    border: none;
    margin: 1rem 1rem;
    background-color: #7780f5;
    color: #f1ebeb;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 10px;
}

@media only screen and (min-width: 320px) {
    img{
        height: 50vh;
    }
    
}